@model IEnumerable<_8_StoredProceduresWithEFWebTask.Models.DepartmentViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Department List</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
            @Html.DisplayNameFor(model => model.DepartmentId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @* <td>
            @Html.DisplayFor(modelItem => item.DepartmentId)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new {  id=item.DepartmentId  }) |
                    @Html.ActionLink("Delete", "Delete", new { id=item.DepartmentId },new {onclick="return confirm('Are you sure to delete?')" })
                </td>
            </tr>
        }
    </tbody>
</table>
